@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #161623;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(223, 223, 223, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(223, 223, 223, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  body {
    @apply bg-cover bg-bottom;
    background-image: url("/background.jpg");
    background-size: 110%;

    min-height: 100vh;
  }
}
